.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand-1);
}

.VPHero .image-bg {
  z-index: 1;
  opacity: 0.8;
  transition: opacity 1s ease;
}

.VPHero .image-container:hover .image-bg {
  opacity: 0.2;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

/* VitePress Search */
.VPLocalSearchBox .result {
  --vp-c-bg-search-result: var(--vp-c-bg);
  background: var(--vp-c-bg-search-result) !important;
  padding: 4px !important;
  border: 1px solid var(--vp-c-divider) !important;
}
.VPLocalSearchBox .result.selected {
  --vp-c-bg-search-result: var(--vp-c-bg-soft) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-top {
  background: linear-gradient(var(--vp-c-bg-search-result), transparent) !important;
}
.VPLocalSearchBox .result .excerpt-gradient-bottom {
  background: linear-gradient(transparent, var(--vp-c-bg-search-result)) !important;
}
.VPLocalSearchBox .title-icon {
  display: none;
}
.VPLocalSearchBox .excerpt-wrapper {
  margin-top: 4px;
}

/* dark/light radial transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

/* 自定义 sidebar 样式 */
.VPSidebar {
  border-right: 1px solid #eaeefb;
  /* background-color: var(--vp-c-bg) !important; */
}
.VPSidebarItem > .item > .text {
  font-size: 16px;
  font-weight: bold;
}

.VPSidebarItem > .item .link > .text {
  font-size: 14px;
  margin: 2px;
}

.VPSidebarItem.is-link > .item .link > .text {
  font-size: 14px;
  margin: 2px;
}

.VPSidebarItem.is-active > .item .link > .text {
  color: #fff !important;
  background-color: var(--vp-c-brand-1);
  border-radius: 7px;
  padding: 4px 5px;
  font-size: 14px;
  margin-left: -3px;
}

.VPHome {
  margin-bottom: 50px !important;
}

/* 自定义 Navbar */
.VPNavBarMenuLink.active {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--vp-c-brand-1);
}

/* 布局样式 */
.VPDoc {
  padding: 0 !important;
}

.VPDoc .content {
  padding: 40px !important;
}

.VPDoc.has-aside .container,
.VPDoc.has-aside .container > .content,
.VPDoc.has-aside .container > .content > .content-container {
  max-width: 100% !important;
}

@media (max-width: 1920px) {
  .VPDoc .aside {
    max-width: 350px !important;
  }
  .demo-preview .VPDoc .aside {
    visibility: hidden;
  }
}

@media (min-width: 1920px) {
  .VPDoc .aside {
    min-width: 350px !important;
  }
  .demo-preview .VPDoc .aside {
    visibility: visible;
    min-width: 600px !important;
  }
}

button[role=switch][aria-checked="true"] {
  background-color: var(--vp-c-brand-1);
}
