/**
 * 滚动条样式
 */
.VPSidebar{
  overflow: hidden !important;
}
.VPSidebar:hover{
  overflow-y: auto !important;
}

// scrollbar
// * {
//   scrollbar-color: var(--el-scrollbar-bg-color) var(--el-fill-color-light);
// }

.VPSidebar::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar:horizontal {
  height: 6px
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/* 隐藏VPSidebar滚动条，但保持滚动功能 */
// html,
// .VPSidebar {
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE and Edge */
// }

// html::-webkit-scrollbar,
// .VPSidebar::-webkit-scrollbar {
//   display: none; /* Chrome, Safari, Opera */
// }


.dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}